# Exercise 00
Write a bit of code that prints _Introduction to Programming_ to the console and execute the cell

In [1]:
print("Introduction to Programming")

Introduction to Programming

-----------------------------------------------------------------------------
# Exercise 01
Hello World is traditionally the first program anyone writes. It is
very simple and the only thing it should do is print Hello World! to the
terminal window.
Create a file called HelloWorld.py and edit the contents so it prints Hello World! to the terminal and execute it using the command line.

-----------------------------------------------------------------------------
# Exercise 02
Write some code to print your name, email, and age on separate lines. For each element first assign it to a variable and use the variable to print. 

Bonus: try to create the print statement for all variable in one line of code. (hint: '\n' is the character for a new line)

In [27]:
myName = "Zhetong Lou"
myEmail = "zhetong.lou.23@ucl.ac.uk"
myAge = "23"

In [59]:
print(myName + '\n'+myEmail +'\n'+myAge)

Zhetong Lou
zhetong.lou.23@ucl.ac.uk
23

-----------------------------------------------------------------------------
# Exercise 03
Print the numbers 0, 178, -21, 2938 divided by 49, 436 multiplied with 9948 and 12 to the power of 20

(Hint: Look up the documentation of basic arithmetic operators)

In [65]:
print(0 , 178 , -21 , 2938/49 , 436*9948 , 12**20)

0 178 -21 59.95918367346939 4337328 3833759992447475122176

-----------------------------------------------------------------------------
# Exercise 04
Print sin(200), cos(100), tan($\pi$/4)

(Hint: Look up for how to use trigonometric function, and how to get the value of $\pi$.)

In [67]:
import math
math. pi

3.141592653589793

In [79]:
x = math.sin(200)
y = math.cos(100)
z = math.tan(math.pi/4)

In [83]:
print(x , y , z)

-0.8732972972139946 0.8623188722876839 0.9999999999999999

In [84]:
print(math.sin(200) , math.cos(100) , math.tan(math.pi/4))

-0.8732972972139946 0.8623188722876839 0.9999999999999999

-----------------------------------------------------------------------------
# Exercise 05
Write a program to read your first and last names from the console seperately, and then print them on the console together, separated by a space.

In [92]:
user_input1 = input()
user_input2 = input()

zhetong
lou

In [95]:
print(user_input1 + ' '+ user_input2)

zhetong lou

-----------------------------------------------------------------------------
# Exercise 06
Write a program that determines whether a number given as user input is positive or negative
 
You will need to convert the console input from a string to a number first!

In [109]:
user_input = input()

if int(user_input)>0:
    print("positive")
elif int(user_input)<0:
    print("negative")

-10
negative

-----------------------------------------------------------------------------
# Exercise 07
Write a program that picks a random number between 1-20 and makes the user guess until they get the number right. Then print a congratulations message
- (Find out yourself how to generate a random integer)
- Bonus: make the user choose the range within which they have to guess
- Bonus: keep track of how many guesses were made and print this at the end

In [ ]:
import random

In [ ]:
user_input = input()

In [144]:
A = random.randint(1,20)
user_input = input()

if int(user_input) == int(A):
    print("congratulations")
else:
    print("no")

1
no

In [29]:
import random

In [35]:
range1 = input("choose the start range of the game:")
range2 = input("choose the end range of the game:")
attempts = 1
A = random.randint(int(range1),int(range2))
print("guess the number between int(range1) to int(range2)")

guess = int(input("guess the number:"))

while A != guess:
    if guess<A:
        print("its a smaller answer, try again")
        guess = int(input())
        attempts = attempts + 1
    elif guess>A:
        print("its a larger answer, try again")
        guess = int(input())
        attempts = attempts + 1
    else:
        break
print("congratulations", str(attempts))

choose the start range of the game:1
choose the end range of the game:100
guess the number between str(range1) to str(range2)
guess the number:5
its a smaller answer, try again
90
its a larger answer, try again
50
its a larger answer, try again
30
its a smaller answer, try again
40
its a larger answer, try again
35
its a larger answer, try again
33
congratulations 7

-----------------------------------------------------------------------------
# Exercise 08
Ask a sentence as input, then print the words in alphabetical order.
Hint: look up how to split up a string

In [48]:
sentence = input()
B = sentence.lower()
split = str(B).split()
A = split.sort()

for A in split:
    print(A)

Ask a sentence as input, then print the words in alphabetical order. Hint: look up how to split up a string
a
a
alphabetical
as
ask
hint:
how
in
input,
look
order.
print
sentence
split
string
the
then
to
up
up
words

-----------------------------------------------------------------------------
# Exercise 09
Write a program using for loops to print a christmas tree of x lines high
specified by the user.
(use for loops)
so for instance, a chrismas tree of 4 high should looks like this:

```

    *
   ***
  *****
 *******
    |

```

hint: first combine strings into a variable before printing

In [57]:
A = "*"
n = 4

TypeError: 'str' object cannot be interpreted as an integer

In [66]:
A = "*"
AA = str(A)*2
AAA = str(A)*3

for fruit in [str(A), str(AA), str(AAA)]:
    print(fruit)

*
**
***

In [96]:
for i in range(0,int(n)):
    print(i)
    for j in range(0,int(n)):
        print(i,j)

0
0 0
0 1
0 2
1
1 0
1 1
1 2
2
2 0
2 1
2 2

In [125]:
n = input("level of tree?")

for i in range(0,int(n)):
    for j in range(0,int(n)-i):
        print(" ",end="")
    for a in range(0,i*2-1):
        print("*",end="")
    print("")
print(" " * (int(n)-2),"|")

level of tree?10

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
         |

-----------------------------------------------------------------------------
# Exercise 10
Write a piece of code that prints the first $n$ numbers of the padovan sequence