# Exercise 00
Write a piece of code that allocates a list of 20 integers and initializes each element by its index multiplied by 5. Print the result.

In [1]:
listOfNrs = list(range(20))

In [2]:
print(listOfNrs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
listOfNrs = list(range(20))
newlist = [i * 5 for i in listOfNrs]
print(newlist)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

# Exercise 01
Define a function that takes an integer as input, prints  all integers that it is divisable by, and returns the largest one.

In [ ]:
def print_alldividible_num(is):
     for i
        
    return

In [19]:
n = int(input("entre num:"))

while n % [for i in range(0,n)] != 0
    print(i)

SyntaxError: invalid syntax (3271322447.py, line 3)

In [68]:
def print_alldividible_num(num):
    num = list(range(1,num+1))
    print(num)

In [69]:
d = print_alldividible_num(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [77]:
def xxx(num):
    a = list(range(1,num+1))
    newnum = []
    for x in num:
        newnum.append(num%a)

In [78]:
mylist = xxx(10)

TypeError: 'int' object is not iterable

In [76]:
n = int(input())

while not n = int:
    print(n)

SyntaxError: invalid syntax (492415853.py, line 3)

In [84]:
def aaa(num):
    newnum = list(range(1,num+1))
    return filter((str(num) % str(newnum) == 0),newnum)

In [85]:
f = aaa(10)

TypeError: not all arguments converted during string formatting

In [239]:
def the_possible_divide_numb(a):
    num = a

    numbers = []

    for i in range(1,num+1):
        if num % i == 0:
            numbers.append(i)
    numbers.reverse()
    print(numbers)
    print("the max number is:", numbers[0])

In [240]:
result = the_possible_divide_numb(int(input()))

100
[1, 2, 4, 5, 10, 20, 25, 50, 100]
the max number is: 1

In [242]:
def aaaaaa(x):
    num = []
    numbs = x
    
    for i in range(1,numbs+1):
        if numbs % i == 0:
            num.append(i)
    print(num)

In [243]:
f = aaaaaa(int(input()))

10
[1, 2, 5, 10]

In [ ]:
if did % y ==0:
            print(y)
            list.append(y)
            print(list)

# Exercise 02
- create a dictionary with 6 keys and values of your choice
- write a function that takes a dictionary and a value as input and returns whether the value occurs as a key in the dictionary
- write a function that takes a dictionary as input, and returns the dictionary but the keys are swapped with their values (resolve the issue if a value occurs twice!)

In [135]:
thisDict = {
    "brand":"Airbus",
    "model":"A350-900",
    "year":"2023",
    "seats":"310",
    "range":"15000km",
    "MTOW":"250000kg"}

In [137]:
thisDict["brand"]

'Airbus'

In [139]:
for x,y in thisDict.items():
    print(x)

brand
model
year
seats
range
MTOW

In [191]:
def keys_detector(x,y):
    y = list(thisDict.keys())
    z = list(thisDict.values())
    if x in y:
        print("keys")
    elif  x in z:
        print("values")
    else :
        print("not in dic")

In [192]:
c = keys_detector(input("values:"),input("Dic's name:"))

values:brand
Dic's name:thisDict
keys

In [211]:
def aaaa(x):
    y = x.keys()
    z = x.values()
    
    inv_map = {z:y for y,z in x.items()}
    
    for y,z in inv_map.items():
        print(y,z)
    return print(inv_map)

In [212]:
f = aaaa(thisDict)

Airbus brand
A350-900 model
2023 year
310 seats
15000km range
250000kg MTOW
{'Airbus': 'brand', 'A350-900': 'model', '2023': 'year', '310': 'seats', '15000km': 'range', '250000kg': 'MTOW'}

# Exercise 03
Define a function that creates a dictionary of the first n fibonacci numbers as values paired with their indices as keys.

In [101]:
def febdict(n):
    febdict = {}
    a = 0
    b = 1
 
    for i in range(1,n+1):
        febdict[i] = b
        t = a
        a = b
        b = t+b
    return febdict

In [102]:
febdict(5)

{1: 1, 2: 1, 3: 2, 4: 3, 5: 5}